


  <div class= "row">

  <div class= "col-3 mr-5">
   <%= render 'users/list', user: @user %>
  </div>

  <div class= "col-8">
    <h1>Users</h1>
    <table class= "table">
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= link_to "Show", user_path(user.id) %>
        </td>
      </tr>
    <% end %>
     </table>
  </div>

  </div>